@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');

body {
    background: url("img/image.jpg");
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

input{
    padding: 7px;
    margin: 12px;
    border-radius: 5px;
}

.App {
    text-align: center;
}

.Title{
    text-align: center;
    font-size: 50px;
}

.btn{
    margin: 20px;
    color: white;
    border-radius: 5px;
}

.add-btn{
    background: lightslategray;
    width: 100px;
    height: 40px;
}

.card {
    width: 200px;
    margin: 10px auto;
    padding: 30px;
    background-color: #b8bb1c;
    border: #27dedf 3px solid;
}

.overturned {
    background-color: #27dedf;
    border: #b8bb1c 3px solid;
}

.words{
    border: 5px solid #867882;
    background-color: #27df99;
    border-radius: 25px;
    width: 50%;
    min-width: 400px;
    margin: 10px auto;
    padding: 40px 20px;
}
